// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

img {
	width: 50%;
	height: auto;
}

body {
	font-family: 'Lato', sans-serif;
}

.centered {
	text-align: center;
}

