<div class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <%= link_to image_tag("novoed-logo-navbar.png", id: "logo", class: "img-responsive"), 
							'https://novoed.com' %>
    </div>
    <p class="navbar-text pull-right"> <%= link_to "This Project on Github", "https://github.com/lauratrigeiro/novoed-search", :class => 'navbar-link' %></p>
  </div>
</div>




